<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fudi</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  
  <header class="page-header">
    <div class="container clearfix">
      <div class="logo">
        <img class="logo__image" src="img/logo.png" srcset="img/logo@2x.png 2x" alt="logo" width="70" height="60">
      </div>
    
      <nav class="main-navigation">
        <a class="main-navigation__link" href="#">log in</a>
        <a class="main-navigation__link" href="#">sign up</a>
        <div class="main-navigation__menu">
          <div class="sandwich"></div>
        </div>
      </nav>
    </div>
      
      <div class="promo">
        <span class="promo__title promo__title--smoll">Find your Favorite </span>
        <span class="promo__title promo__title--big">Recipes</span>
        <a href="#cuisines" class=" promo__btn">Get started</a>
        <p class="promo__text">or send us your own recipes and <a href="#">get rewarded!</a></p>
      </div>
    
  </header>
  
  <div class="features">
    <div class="container">
      <div class="feature">
        <div class="feature__img feature__img--burger">
        </div>
        <h2 class="feature__title">Get inspired</h2>
        <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatibus labore ratione quae eius pariatur unde, blanditiis obcaecati maiores deserunt!</p>
      </div>
      <div class="feature">
        <div class="feature__img feature__img--money">
        </div>
        <h2 class="feature__title">Get rewarded</h2>
        <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatibus labore ratione quae eius pariatur unde, blanditiis obcaecati maiores deserunt!</p>
      </div>
      <div class="feature">
        <div class="feature__img feature__img--cook">
        </div>
        <h2 class="feature__title">Get social</h2>
        <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatibus labore ratione quae eius pariatur unde, blanditiis obcaecati maiores deserunt!</p>
      </div>
    </div>
  </div>
  <section class="phone-app">
    <div class="container clearfix phone-app__bg">
      <div class="phone-app__description">
        <h2 class="phone-app__title">Introducing the fudi app</h2>
        <p class="phone-app__text">Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vestibulum tristique. Suspendisse tristique lacus ac mattis porta. </p>
        <p class="phone-app__text">Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a massa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis. Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan. </p>
        <p class="phone-app__text">Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices ante, a mattis massa. </p>
        <a href="#" class="phone-app__btn phone-app__btn--apple">AppStore</a>
        <a href="#" class="phone-app__btn phone-app__btn--google">GooglePlay</a>
      </div>
    </div>
  </section>
  
  <div class="feedback">
    <div class="container">
    
      <img class="feedback__image" src="img/user.png" srcset="img/user@2x.png 2x" alt="user"  width="114" height="114">
      <q class="feedback__text">I am so happy because I found this recipe, and it just made my life easier. <br>Thanks  so much for sharing!</q>
      <cite class="feedback__userName">- Michael Dawson, San Francisco, CA -</cite>
      
      <div class="feedback__switch switch">
        <input class="switch__input switch__input--1" type="radio" id="btn-1" name="toggle" checked>
        <input class="switch__input switch__input--2" type="radio" id="btn-2" name="toggle">
        <input class="switch__input switch__input--3" type="radio" id="btn-3" name="toggle">
        
        <label class="switch__label switch__label--1" for="btn-1"></label>
        <label class="switch__label switch__label--2" for="btn-2"></label>
        <label class="switch__label switch__label--3" for="btn-3"></label>
      </div>
    </div>
  </div>
  
  <section class="cuisines" id="cuisines">
    <h2 class="cuisines__title">Browse by cuisines</h2>
    <div class="container cuisines__container">
     
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">327 Recipes</span>
            <h1 class="cuisine__title">Italian</h1>
          </div>
          <img class="cuisine__image" src="img/italian.jpg" srcset="img/italian@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">856 Recipes</span>
            <h1 class="cuisine__title">Indian</h1>
          </div>
          <img class="cuisine__image" src="img/indian.jpg" srcset="img/indian@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">27 Recipes</span>
            <h1 class="cuisine__title">French</h1>
          </div>
          <img class="cuisine__image" src="img/french.jpg" srcset="img/french@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">174 Recipes</span>
            <h1 class="cuisine__title">Steakhouse</h1>
          </div>
          <img class="cuisine__image" src="img/steakhouse.jpg" srcset="img/steakhouse@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">731 Recipes</span>
            <h1 class="cuisine__title">Seafood</h1>
          </div>
          <img class="cuisine__image" src="img/seafood.jpg" srcset="img/seafood@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">237 Recipes</span>
            <h1 class="cuisine__title">Sushi</h1>
          </div>
          <img class="cuisine__image" src="img/sushi.jpg" srcset="img/sushi@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">529 Recipes</span>
            <h1 class="cuisine__title">Mexican</h1>
          </div>
          <img class="cuisine__image" src="img/mexican.jpg" srcset="img/mexican@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">143 Recipes</span>
            <h1 class="cuisine__title">Chinese</h1>
          </div>
          <img class="cuisine__image" src="img/chinese.jpg" srcset="img/chinese@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">327 Recipes</span>
            <h1 class="cuisine__title">Pizza</h1>
          </div>
          <img class="cuisine__image" src="img/pizza.jpg" srcset="img/pizza@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      <article class="cuisine">
        <a class="cuisine__link" href="#">
          <div class="cuisine__text">
            <span class="cuisine__recipes">435 Recipes</span>
            <h1 class="cuisine__title">American</h1>
          </div>
          <img class="cuisine__image" src="img/american.jpg" srcset="img/american@2x.jpg 2x" alt="Italian" width="320" height="225">
        </a>
      </article>
      
    </div>
    
  </section>
  
  <div class="about">
    <div class="container">
      <div class="about__block">
        <span class="about__number">23,567</span>
        <p class="about__text">Recipes Available</p>
      </div>
      <div class="about__block">
        <span class="about__number">431,729</span>
        <p class="about__text">Active Users</p>
      </div>
      <div class="about__block">
        <span class="about__number">892,173</span>
        <p class="about__text">Positive Reviews</p>
      </div>
      <div class="about__block">
        <span class="about__number">56,581</span>
        <p class="about__text">Photos &amp; Videos</p>
      </div>
      <div class="about__block">
        <span class="about__number">3,182</span>
        <p class="about__text">Spices and Herbs</p>
      </div>
    </div>
  </div>
  
  <footer class="page-footer">
    <div class="container">
      <span class="page-footer__copyright">©2014 Fudi. All Rights Reserved. </span>
      <p class="page-footer__author">DESIGN BY:<a href="#">WWW.BEKADES.COM</a></p>
    </div>
  </footer>


</body>
</html>