<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700,400&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body class="inner-page">
    <header class="main-header">
      <div class="container clearfix">
        <nav class="main-navigation">
          <ul>
            <li>
              <a href="index.html">Главная</a>
            </li>
            <li>
              <a href="#">Информация</a>
            </li>
            <li>
              <a href="#">Новости</a>
            </li>
            <li>
              <a href="price.html">Прайс-лист</a>
            </li>
            <li class="active">
              <a href="#">Магазин</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="user-block">
          <a href="#" class="login">Вход</a>
        </div>
      </div>
    </header>

      <div class="container">
       
        <div class="inner-page-title">
          <h1>Средства для ухода</h1>
          <ul class="breadcrumbs">
            <li>
              <a href="index.html">Главная</a>
            </li>
            <li>
              <a href="catalog.html">Магазин</a>
            </li>
            <li class="current">
              Средства для ухода
            </li>
          </ul>
        </div>

        <aside class="left-column">
          <form action="#">
              <h2 class="form-title">Производители:</h2>
              <ul>
                <li>
                  <input type="checkbox" id="1st-producer" name="Baxter of California" value="Baxter of California" checked>
                  <label for="1st-producer">Baxter of California</label>
                </li>
                <li>
                  <input type="checkbox" id="2nd-producer" name="Mr Natty" value="Mr Natty">
                  <label for="2nd-producer">Mr Natty</label>
                </li>
                <li>
                  <input type="checkbox" id="3rd-producer" name="Suavecito" value="Suavecito" checked >
                  <label for="3rd-producer">Suavecito</label>
                </li>
                <li>
                  <input type="checkbox" id="4th-producer"  name="Malin+Goetz" value="Malin+Goetz">
                  <label for="4th-producer">Malin+Goetz</label>
                </li>
                <li>
                  <input type="checkbox" id="5th-producer" name="Murray&#8217;s" value="Murray&#8217;s">
                  <label for="5th-producer">Murray&#8217;s</label>
                </li>
                <li>
                  <input type="checkbox" id="6th-producer" name="American Crew" value="American Crew" checked disabled>
                  <label for="6th-producer">American Crew</label>
                </li>
              </ul>

              <h2 class="form-title">Группы товаров:</h2>
              <ul>
                <li>
                  <input type="radio" id="1st-group-goods" name="check-group-goods" value="shaving-goods">
                  <label for="1st-group-goods">Бритвенные <br> принадлежности</label>
                </li>
                <li>  
                  <input type="radio" id="2nd-group-goods" name="check-group-goods" value="care-goods" checked>
                  <label for="2nd-group-goods">Средства для ухода</label>
                </li>
                <li>
                  <input type="radio" id="3rd-group-goods" name="check-group-goods" value="accessories" disabled>
                  <label for="3rd-group-goods">Аксесуары</label>
                </li>
              </ul>

              <button class="btn btn-show" type="submit" name="show">Показать</button>
          </form>
        </aside>

        <section class="right-column">
          <article class="goods">
            <a href="catalog-item.html">
              <img src="img/photo-1-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Набор для путешествий</span><br>
            &#171;Baxter of california&#187;</h1>
            </a>
            <div class="item-buy">
              <span>2 900 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>

          <article class="goods">
            <a href="#">  
              <img src="img/photo-2-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Увлажняющий кондиционер</span><br>
              &#171;Baxter of california&#187;</h1>
            </a>
            <div class="item-buy">
              <span>750 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>

          <article class="goods">
            <a href="#">  
              <img src="img/photo-3-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Гель для волос</span><br>
              &#171;Suavecito&#187;</h1>
            </a>
            <div class="item-buy">
              <span>290 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>

          <article class="goods">
            <a href="#">
              <img src="img/photo-4-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Гель для укладки волос</span><br>
              &#171;American crew&#187;</h1>
            </a>
            <div class="item-buy">
              <span>500 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>

          <article class="goods">
            <a href="#">
              <img src="img/photo-5-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Гель для волос</span><br>
              &#171;American crew&#187;</h1>
            </a>
            <div class="item-buy">
              <span>300 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>

          <article class="goods">
            <a href="#">
              <img src="img/photo-6-catalog.jpg" width="220" height="165" alt="Товар">
              <h1><span>Набор для бритья</span><br>
              &#171;Baxter of california&#187;</h1>
            </a>
            <div class="item-buy">
              <span>3 900 руб.</span>
              <a class="btn" href="#">Купить</a>
            </div>
          </article>
        </section>

        <div class="paginator">
          <a class="btn" href="#">1</a>
          <span >2</span>
          <a class="btn" href="#">3</a>
          <a class="btn" href="#">4</a>
        </div>
      </div>

    <footer class="main-footer">
      <div class="container clearfix">
        <section class="footer-contacts">
          <p>Барбершоп «Бородинский»<br>
          Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8<br>
          <a href="#">Как нас найти?</a><br>
          телефон: +7 (495) 666-02-66</p>
        </section>
        <section class="footer-social">
          <p>Давайте дружить!</p>
          <a href="#" class="social-btn social-btn-vk">VK</a>
          <a href="#" class="social-btn social-btn-fb">F</a>
          <a href="#" class="social-btn social-btn-inst">I</a>
        </section>
        <section class="footer-copyright">
          <p>Разработано:</p>
          <a href="https://htmlacademy.ru/" class="btn">htmlacademy.ru</a>
        </section>
      </div>
    </footer>
    
    <div class="modal-content">
      <button class="modal-content-close" title="Закрыть">Закрыть</button>
    
      <h2 class="modal-content-title">Личный кабинет</h2>
      <p>Введите пожалуйста свой логин и пароль.</p>

      <form class="login-form" action="https://echo.htmlacademy.ru" method="post">
        <input type="text" class="icon-user" name="login">
        <input type="password" class="icon-password" name="password">

        <input type="checkbox" name="remember" id="remember-me">
        <label for="remember-me">Запомните меня</label>

        <a href="#" class="restore">Я забыл пароль!</a>
        <button type="submit" class="btn">Войти</button>
      </form>
    </div>
    
    <script src="js/login-form.min.js"></script>
  </body>
</html>