<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Sedona</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>

    <div class="container">

      <header class="main-header">
        <nav class="main-navigation">
          <ul class="clearfix">
            <li class="active">
              <a href="#">Информация</a>
            </li>
            <li>
              <a href="#">Фото и видео</a>
            </li>
            <li>
              <a href="#map">Карта штата</a>
            </li>
            <li>
              <a href="hotels.html">Гостиницы</a>
            </li>
          </ul>
          <a class="mini-logo" href="index.html"><img src="img/mini-logo.png" width="138" height="70" alt="City of Sedona"></a>
        </nav>

        <!-- задний фон горы + псевдоэлемент с задним фоном маски -->
        <div class="promo-block">
          <img src="img/logo.png" width="458" height="352" alt="">
        </div>

      </header>

      <article class="reasons">
        <header class="reasons-title">
          <h1>Седона - небольшой городок в Аризоне, заслуживающий большего!</h1>
          <p>Рассмотрим 5 причин, по которым седона круче чем Гранд Каньон!</p>
        </header>

        <div class="reason-row reason-row-image">

          <!-- блок преймуществ -->
          <div class="reason">
            <h2 class="reason-title">Настоящий <br> городок</h2>
            <div class="reason-number">№1</div>
            <p class="reason-text">Седона не атракцион для туристов, там течет своя жизнь</p>
          </div>

          <!-- картинка -->
          <figure class="reason-picture">
            <img src="img/photo-1.jpg"  width="800" height="401" alt="Фото города">
          </figure>

        </div>

        <div class="reason-row">

          <!-- блок преймуществ c с картинкой-->
          <div class="reason reason-image reason-image-home">
            <i class="sprite sprite-icon-home"></i>
            <h2 class="reason-title">Жилье</h2>
            <p class="reason-text">Рекомендуем пожить в настоящем мотеле, все как в кино!</p>
          </div>

          <!-- блок преймуществ c с картинкой-->
          <div class="reason reason-image reason-image-hamburger">
            <i class="sprite sprite-icon-food"></i>
            <h2 class="reason-title">Еда</h2>
            <p class="reason-text">Всегда заказывай фирменный бургер, вы не разочаруетесь!</p>
          </div>

          <!-- блок преймуществ c с картинкой-->
          <div class="reason reason-image reason-image-gift">
            <i class="sprite sprite-icon-gift"></i>
            <h2 class="reason-title">Сувениры</h2>
            <p class="reason-text">Не только китайского,<br> но и местного производства.</p>
          </div>

        </div>

        <div class="reason-row reason-row-image reason-row-image-invert">

          <!-- картинка -->
          <figure class="reason-picture">
            <img src="img/photo-2.jpg"  width="800" height="400" alt="Фото каньона">
          </figure>

          <!-- блок преймуществ -->
          <div class="reason">
            <h2 class="reason-title">Там есть <br> мост дьявола</h2>
            <div class="reason-number">№2</div>
            <p class="reason-text">Да, по нему можно пройти! <br> Если конечно вы осмелитесь</p>
          </div>

        </div>

        <div class="reason-row reason-row-gray">

          <!-- блок преймуществ -->
          <div class="reason">
            <h2 class="reason-title">Небольшая <br> площадь</h2>
            <div class="reason-number">№3</div>
            <p class="reason-text">Все достопримеча-<br>тельности находятся очень близко</p>
          </div>

          <!-- блок преймуществ -->
          <div class="reason">
            <h2 class="reason-title">Красивая <br> дорога</h2>
            <div class="reason-number">№4</div>
            <p class="reason-text">Ехать в Седону из Лас-Вегаса совсем не скучно!</p>
          </div>

          <!-- блок преймуществ -->
          <div class="reason">
            <h2 class="reason-title">Мало <br> туристов</h2>
            <div class="reason-number">№5</div>
            <p class="reason-text">Большинство едет в Гранд Каньон и толпится там</p>
          </div>

        </div>


      </article>

      <div class="find">
        <h2>Заинтересовались?</h2>
        <p>Укажите предполагаемые даты поездки <br> и мы покажем вам лучшие предложения гостиниц в Седоне</p>
        <a href="hotels.html" class="find-btn">Поиск гостиницы в Седоне</a>
      </div>

      <div class="map" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359535.2409676393!2d-112.4850453477981!3d34.68509441431719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1442419660329" width="100%" height="593" frameborder="0" style="border:0" allowfullscreen></iframe>

        <!-- форма -->
        <div class="form-search">
          <form action="form.php" method="get">
            <div class="form-row clearfix">
              <label for="data-in">дата заезда:</label>
              <input type="text" name="arrival" id="data-in" placeholder="24 апреля 2014">
              <i class="icon-calendar"></i>
            </div>
            <div class="form-row clearfix">
              <label for="data-out">дата выезда:</label>
              <input type="text" name="departure" id="data-out" placeholder="4 июля 2014">
              <i class="icon-calendar"></i>
            </div>
            <div class="form-row clearfix">
              <div class="form-col">
                <label for="adult">взрослые:</label>
                <div class="input-group">
                  <button class="counter conter-minus"><i class="icon-minus"></i></button>
                  <input type="number" name="adult" id="adult" min="1" max="10" step="1" value="2">
                  <button class="counter conter-plus"><i class="icon-plus"></i></button>
                </div>
              </div>
              <div class="form-col">
                <label for="children">дети:</label>
                <div class="input-group">
                  <button class="counter conter-minus"><i class="icon-minus"></i></button>
                  <input type="number" name="children" id="children" min="0" max="10" step="1" value="0">
                  <button class="counter conter-plus"><i class="icon-plus"></i></button>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-blue">Найти</button>
          </form>
        </div>

        <!-- футер -->
        <footer class="main-footer clearfix">
          <div class="hashtag">
            <a href="index.html" >#VISITSEDONA</a>
          </div>

          <div class="social">
            <a href="#" class="social-link"><i class="icon-twitter"></i></a>
            <a href="#" class="social-link"><i class="icon-facebook"></i></a>
            <a href="#" class="social-link"><i class="icon-youtube"></i></a>
            
          </div>

          <address class="author"><span>Website by</span><a href="https://htmlacademy.ru"><i class="sprite sprite-icon-html"></i></a></address>

        </footer>
      </div>
    </div>
    
    <script src="js/form.min.js"></script>
     
  </body>
</html>
