@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"), url("../font/symbols-sedona.woff?60737633") format("woff"), url("../font/symbols-sedona.ttf?60737633") format("truetype"), url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-facebook:before {
  content: '\66';
}
/* 'f' */
.icon-twitter:before {
  content: '\74';
}
/* 't' */
.icon-up-dir:before {
  content: '\25b2';
}
/* '▲' */
.icon-down-dir:before {
  content: '\25bc';
}
/* '▼' */
.icon-star:before {
  content: '\2605';
}
/* '★' */
.icon-check-off:before {
  content: '\2610';
}
/* '☐' */
.icon-check-on:before {
  content: '\2611';
}
/* '☑' */
.icon-calendar:before {
  content: '\e800';
}
/* '' */
.icon-plus:before {
  content: '\e801';
}
/* '' */
.icon-minus:before {
  content: '\e802';
}
/* '' */
.icon-youtube:before {
  content: '\f39e';
}
/* '' */


/*===== Общие стили =====*/


body {
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 768px;
  max-width: 1200px;
  background: #fff;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.1);
          box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.1);
  margin: 0 auto;
}
.clearfix::before,
.clearfix::after,
.reason-row::before,
.reason-row::after {
  content: "";
  display: table;
}
.clearfix::after,
.reason-row::after {
  clear: both;
}

/* sprite */

.sprite {
  background-image: url("../pic/sprite.png");
  background-repeat: no-repeat;
  display: block;
}


/*-----  header  -----*/


.main-navigation {
  position: relative;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation li {
  float: left;
  width: 20%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-navigation li:nth-child(2) {
  margin-right: 20%;
}
.main-navigation a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.active a {
  color: #766357;
}
.active a:hover {
  color: #604e43;
}
.active a:active {
  color: rgba(118, 99, 87, 0.3);
}
.mini-logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.promo-block {
  position: relative;
  min-height: 432px;
  background: #a9cce5 url("../pic/bg-photo-index.jpg");
  background-position: center 20%;
  background-size: cover;
  padding-top: 76px;
  margin-bottom: 60px;
}
.promo-block:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  background: url("../pic/mask.png");
  background-position: center bottom;
}
.promo-block img {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
}


/*===== Главная Контент =====*/


.reasons-title {
  width: 50%;
  min-height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}
.reasons-title h1 {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 35px;
}
.reason {
  width: 33.333333%;
  min-height: 256px;
  text-align: center;
  font-size: 14px;
}
.reason-row-image .reason {
  float: left;
}
.reason-row-image-invert .reason {
  float: right;
}
.reason-row-image .reason-picture {
  float: right;
}
.reason-row-image-invert .reason-picture {
  float: left;
}
.reason-image,
.reason-row-gray .reason {
  float: left;
}
.reason-picture {
  width: 66.666666%;
  height: 256px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.reason-picture img {
  width: 100%;
  height: auto;
}
.reason-row-image .reason {
  background-color: #81b3d2;
  color: #fff;
}
.reason-row:last-child {
  background-color: #eee;
}
.reason-row .reason-title {
  width: 60%;
  font-size: 21px;
  line-height: 25px;
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: 25px;
}
.reason-row .reason-number {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 25px;
}
.reason-row .reason-number:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 1px;
  top: 50%;
  left: 44%;
  background: #000;
  margin-right: 5px;
}
.reason-row .reason-number:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 1px;
  top: 50%;
  left: 44%;
  background: #000;
  margin-left: 5px;
}
.reason-row-image .reason-number:before,
.reason-row-image .reason-number:after {
  background: #fff;
}
.reason-text {
  width: 70%;
  margin: 0 auto;
}
.reason-image .reason-text {
  font-size: 14px;
  line-height: 21px;
}
.reason-image {
  position: relative;
  min-height: 330px;
  padding-top: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sprite-icon-home {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../pic/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -171px;
}
.sprite-icon-food {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background-position: -5px -5px;
  background-image: url("../pic/sprite.png");
  background-repeat: no-repeat;
}
.sprite-icon-gift {
  content: "";
  position: absolute;
  left: 50%;
  top: 56px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background-position: -5px -85px;
  background-image: url("../pic/sprite.png");
  background-repeat: no-repeat;
}
.reason-row:last-child h2 {
  margin-top: 45px;
}
.reasons {
  margin-bottom: 50px;
}


/*===== Блок поиска гостиницы =====*/


.find {
  position: relative;
  z-index: 2;
  background: #fff;
  text-align: center;
}
.find h2 {
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 28px;
}
.find p {
  line-height: 24px;
  margin-bottom: 46px;
}
.find-btn {
  display: block;
  width: 570px;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  background-color: #766357;
  color: #fff;
  margin: 0 auto;
  padding: 30px 0;
}


/*===== Карта и форма поиска =====*/


.map {
  position: relative;
  background-image: url(../pic/map.jpg);
  width: 100%;
  height: 593px;
}
.map .main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.form-search {
  position: absolute;
  display: none;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 570px;
  min-height: 395px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.1);
          box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 55px;
  padding-bottom: 0;
}

/* анимация появления */
@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-200px);
            transform: translateX(-50%) translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-200px);
            transform: translateX(-50%) translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}
.form-search-show {
  display: block;
  -webkit-animation: bounce .8s;
  animation: appearance .8s;
  z-index: 0;
}

/* анимация error */
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50.5%);
            transform: translateX(-50.5%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-49.5%);
            transform: translateX(-49.5%);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50.5%);
            transform: translateX(-50.5%);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-49.5%);
            transform: translateX(-49.5%);
  }
}
.form-search-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}
.form-row {
  position: relative;
  margin-bottom: 25px;
}
.form-row label {
  float: left;
  max-width: 110px;
  padding: 12px 0;
}
.form-row input[type="text"] {
  float: right;
  width: 345px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 0;
  padding: 11px ;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.form-row input[type="text"]:hover {
  background: #ebebeb;
  border: 1px solid #ebebeb;
}
.form-row input[type="text"]:active {
  background: #fff;
  border: 1px solid #e5e5e5;
}
.icon-calendar {
  position: absolute;
  top: 10px;
  right: 7px;
  font-size: 20px;
  color: #c2c2c2;
  cursor: pointer;
}
.icon-calendar:hover {
  color: #000;
}
.icon-calendar:active {
  color: #81b3d2;
}
.form-col {
  float: left;
  width: 230px;
}
.form-col:last-child {
  float: right;
  width: 180px;
}
.input-group {
  float: right;
  background: #f2f2f2;
}

/*убрал стрелочки у number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}
.input-group input[type="number"],
.counter {
  width: 20px;
  background: #f2f2f2;
  border: none;
  outline: none;
  padding: 12px 5px;
}
.counter {
  width: 40px;
  color: #a9a9a9;
}
.counter:hover {
  color: #000;
}
.counter:active {
  color: #81b3d2;
}
.btn-blue {
  width: 460px;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 25px;
  padding: 18px 0;
}
.btn-blue:hover {
  background: #669ec0;
}
.btn-blue:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


/*===== footer =====*/


.main-footer {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.main-footer .hashtag {
  float: left;
  width: 33%;
  padding-top: 50px;
}
.hashtag a{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.hashtag a:hover {
  text-decoration: underline;
}
.main-footer .author {
  float: right;
  width: 33%;
}
.author span,
.author a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 40px 0;
}
.sprite-icon-html {
  width: 113px;
  height: 39px;
  background-position: -5px -253px;
}
.sprite-icon-html:hover {
  width: 113px;
  height: 39px;
  background-position: -5px -302px;
}
.sprite-icon-html:active {
  width: 113px;
  height: 39px;
  background-position: -5px -351px;
}
.author span {
  font-style: normal;
  margin-right: 10px;
}
.main-footer .social {
  float: left;
  width: 33%;
  font-size: 0;
}
.social-link {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  font-size: 20px;
  line-height: 20px;
  background: #81b3d2;
  color: #fff;
  margin-left: 7px;
  margin-top: 35px;
  padding: 14px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
.social-link:hover {
  background: #669ec0;
}
.social-link:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


/*====== Страница отелей =====*/

/* фильтр */

.hotel-filter {
  min-height: 217px;
  padding: 0  6%;
  background: #a9cce5 url(../pic/bg-filter.jpg);
  background-position: center top;
  background-size: cover;
  color: #fff;
}
.filter-col-left {
  float: left;
  width: 150px;
}
.filter-col-left:first-child {
  margin-right: 10%;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  content: "\2610";
  display: inline-block;
  width: 40px;
  font-size: 26px;
  font-family: "symbols-sedona";
  font-weight: 100;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
}
input[type="checkbox"] + label:hover:before {
  color: #fff;
}
input[type="checkbox"]:disabled + label:before {
  color: rgba(255, 255, 255, 0.3);
}
input[type="checkbox"]:checked + label:before {
  content: "\2611";
}
.filter-col h2 {
  font-size: 16px;
  line-height: 18px;
  margin-top: 28px;
  margin-bottom: 12px;
}
.hotel-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hotel-filter li {
  margin: 28px 0;
  vertical-align: middle;
}
.filter-col-left label {
  cursor: pointer;
}
.filter-col-right {
  position: relative;
  float: right;
  width: 31%;
}
.price-controls {
  width: 97.5%;
  height: 36px;
  margin-left: 10px;
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  line-height: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.price-controls:after {
  content: "";
  position: absolute;
  height: 22px;
  width: 2px;
  background: #fff;
  top: 65px;
  left: 52%;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
}
.price-controls .min-price {
  width: 37%;
  padding-left: 13%;
}
.price-controls .max-price {
  width: 42%;
  padding-left: 8%;
}
.price-controls input {
  width: 50px;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  padding: 10px 0 12px;
  margin-left: 12px;
  margin-bottom: 20px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}
.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.range-controls .toggle-max {
  left: 80%;
}
.toggle:hover {
  background: #1c4f80;
}
.btn-transparent {
  display: block;
  text-align: center;
  padding: 8px 33px;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
  margin: 0 auto;
}

/* блок сортировка */

.sort {
  position: relative;
  min-height: 86px;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
}
.sort h2,
.sort span,
.sort ul {
  display: inline-block;
  vertical-align: baseline;
}
.sort h2 {
  font-size: 21px;
  line-height: 24px;
  margin: 0;
  margin-top: 30px;
  margin-right: 48px;
}
.sort span,
.sort li {
  font-size: 12px;
  line-height: 14px;
}
.sort li {
  display: inline-block;
  text-decoration: none;
  margin-right: 33px;
}
.sort .sort-type {
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}
.sort .sort-type:hover {
  color: #81b3d2;
}
.sort .sort-type:active {
  color: #000;
}
.sort-active .sort-type {
  text-decoration: none;
  border: none;
  color: #81b3d2;
}
.sort .arrow {
  position: absolute;
  right: 6%;
  top: 35px;
}
.arrow a {
  display: inline-block;
  vertical-align: top;
  height: 14px;
  text-decoration: none;
  color: #ccc;
  margin-left: 10px;
}
.arrow .arrow-up:before {
  content: "\25b2";
  font-size: 14px;
}
.arrow .arrow-down:before {
  content: "\25bc";
  font-size: 14px;
  color: #81b3d2;
}
.arrow a:hover {
  color: #000;
}
.arrow a:active {
  color: #81b3d2;
}


/*===== блоки отелей =====*/


.hotel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 6%;
  margin-top: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}
.hotel:last-of-type {
  margin-bottom: 0;
}
.hotel-image {
  float: left;
  width: 135px;
  margin: 0;
  margin-right: 30px;
  margin-top: 5px;
}
.raiting {
  width: 140px;
  float: right;
  text-align: right;
}
.raiting-container {
  display: inline-block;
  font-size: 0;
  margin-bottom: 42px;
}
.raiting-container i {
  vertical-align: baseline;
  font-size: 18px;
  line-height: 24px;
  color: #81b3d2;
}
.raiting p {
  display: inline-block;
  margin: 0;
  width: 110px;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 12px  5px 3px ;
  background: #f2f2f2;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hotel-content {
  float: left;
  width: 300px;
  font-size: 0;
}
.hotel-title a {
  text-decoration: none;
  font-size: 21px;
  line-height: 24px;
  margin-top: 0;
  color: #000;
}
.hotel-content h1 {
  margin-bottom: 8px;
}
.hotel-title a:hover {
  color: #81b3d2;
}
.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel-col {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  margin-right: 4px;
}
.hotel-col div {
  margin-bottom: 22px;
}
.hotel-btn {
  text-decoration: none;
  font-weight: bold;
  padding: 5px 20px 5px 15px;
  color: #fff;
}
.hotel-btn-blue {
  background-color: #81b3d2;
}
.hotel-btn-blue:hover {
  background-color: #669ec0;
}
.hotel-btn-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-btn-brown {
  background-color: #766357;
}
.hotel-btn-brown:hover {
  background-color: #604e43;
}
.hotel-btn-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
